body {
  background-color: lightblue;
}

.todoItems {
  display: flex;
}
.no-bullet {
  list-style-type: none;
}
.completed {
  text-decoration: line-through;
}
#todoList div div:hover{
  cursor: pointer;
  color:gray;
  text-decoration: line-through;
}
input {
  width: 10em;
  font-size: 24px;
}

#todoList{
  font-size: 28px;
}
.lightBlueBg {
  background-color: rgb(141, 188, 229);
}